/* This file contains global sass styles applied to the entire site */

.theme--light {
    &.v-application {
        background: $gray !important;
    }
}

.page-enter-active, .page-leave-active {
    transition: opacity .25s;
}
.page-enter, .page-leave-to {
    opacity: 0;
}

::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder {
    opacity: 1;
}

main {
    a, a:visited {
        color: $linkColor !important;
        text-decoration: none;
    }

    a:hover {
        color: $linkHoverColor !important;
    }
}

