/* This file contains global sass styles applied to the entire site */

.theme--light {
    &.v-application {
        background: $gray !important;
    }
}

.page-enter-active, .page-leave-active {
    transition: opacity .25s;
}
.page-enter, .page-leave-to {
    opacity: 0;
}
  